/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ultra&family=Slabo+27px&display=swap');

:root {
  --font-heading: "Ultra", serif;
  --font-body: "Slabo 27px", serif;

  --color-blue: #191A50;
  --color-red: #D7343E;
  --color-green: #40584A;
  --color-cream: #EDD9A3;
  --color-mustard: #F7CE5B;
  --color-mustard-dark: #D6AE4A;
  --color-mustard-darker: #B6953A;

  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-blue);
  background-color: var(--color-cream);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2em;
}

a {
  font-weight: 600;
  font-size: 1.2em;
  color: var(--color-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-red);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.34em;
  font-family: var(--font-heading);
}

h2 {
  font-size: 2.64em;
  font-family: var(--font-heading);
  color: var(--color-red);
}

h3 {
  font-size: 2.34em;
}

h4 {
  font-size: 2.16em;
}

h5 {
  font-size: 1.92em;
}

h6 {
  font-size: 1.68em;
}

button {
  border-radius: 8px;
  border: 2px solid var(--color-mustard-dark);
  padding: 20px;
  font-size: 1.2em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--color-mustard);
  color: var(--color-blue);
  cursor: pointer;
  transition: background-color 0.25s, box-shadow 0.25s;
  margin: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: var(--color-mustard-dark);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
button:active {
  background-color: var(--color-mustard-darker);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-blue);
    background-color: var(--color-cream);
  }
  a:hover {
    color: var(--color-red);
  }
  button {
    background-color: var(--color-mustard);
    color: var(--color-blue);
  }
}
